
/***************************************/
/*********** GENERAL *******************/
/**************************************/
body {
    font-family: 'Segoe UI Light';
    color: #1f3e1d; //#f4eb23
    font-size:2em;
    //background:lightgrey;
}

/* HEADER */
header {
    color:black;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:120px;
    background-color:#f4eb23;
    z-index:999;
}

header div.home { //a
    font-size:3em;
    position:absolute;
    top : 40px;
    left : 40px;
}

/* /HEADER */

.angular{
    margin-top:120px;
    margin-bottom:100px;
}

.mbotop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:visited, .btn-warning:visited, .btn-danger:visited, .btn-success:visited, .btn-info:visited, .btn-inverse:visited {
    color: #FFFFFF;
}

/* FOOTER */
nav{
    text-align:center;
    width:100%;
    background-color:#f4eb23;
}
nav ul{
    margin-left:10%;
    margin-right:10%;
    width:100%;
}
nav.main ul li{
    width:16.65%;
    color:black;
}

nav.main ul li a{
    font-size:3em;
   // text-align:center;
   color:black;
}


/* /FOOTER */

/* HEADER */



/* /HEADER */
/***************************************/
/************ ACCUEIL *******************/
/**************************************/
.jumbotron{
    margin:0px;
}

img#img-bottle {
    //margin-left:			-960px;
    position:				absolute;
    bottom:					-120px;
    left:					50%;
    //width:100%;
}

#back-bottle{
    margin-top: 50px;
}

#bottle {
    //position:				absolute;
    height:					50px; //500px
    width:					40px; //400px
    //left:					50%;
    margin-left:			auto;
    margin-right:           auto;
    //bottom:					30%;
    background:				transparent url(../datas/img/bottle.png) no-repeat bottom left;
    -webkit-transition:		all 0.01s linear;
}



#bottle {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:	50% 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-2deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(3deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-2deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(4deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
/***************************************/
/********ALL MOMENT *******************/
/**************************************/

.img-moment {
    height: 30%;
    width: 100%;
    margin: 0 auto;
}

/***************************************/
/********ADD MOMENT *******************/
/**************************************/

.img-create {
    height: 50vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/***************************************/
/********ONE MOMENT *******************/
/**************************************/

#divMap{
    margin-top: 20px;
    height: 280px;
    width:100%;
 }

 .titre-image{
    //font-style:

 }



/***************************************/
/*********** ABOUT *******************/
/**************************************/
#map {
    height: 280px;
    width:100%;
}




/***************************************/
/*********** PRESENTATION **************/
/**************************************/
#img-resp{
    width:60%;
    margin:auto;
}


/***************************************/
/***************** WINE **************/
/**************************************/
#wine_champagne{
    //height:100%;
    //background:url("../datas/img/backgroundchampagne.jpg");
}

/***************************************/
/*********** GAMES *******************/
/**************************************/

/* line 1, ../sass/_body.scss */
#titre {
  text-align: center;
  box-sizing: border-box;
  width: 500px;
  margin: 2rem auto;
  padding: 1rem;
}
@media screen and (max-width: 500px) {
  /* line 1, ../sass/_body.scss */
  #titre {
    width: 100%;
  }
}
/* line 12, ../sass/_body.scss */
#titre small {
  white-space: nowrap;
}
/* line 16, ../sass/_body.scss */
#titre a {
  text-decoration: none;
}

/* line 1, ../sass/_home.scss */
#home {
  height: 500px;
  width: 640px;
  margin-top:50%;
  //margin-bottom:auto;
  //margin: 7rem auto;
  position: relative;
  padding: 0;
  //background:url('../datas/img/map.jpg');
}
@media screen and (max-width: 640px) {
  /* line 1, ../sass/_home.scss */
  #home {
    width: 100%;
  }
}
/* line 12, ../sass/_home.scss */
#home div div {
  margin-bottom: 1em;
}

/* line 1, ../sass/_option.scss */
#option {
  height: auto;
  width: 400px;
  margin: 4rem auto;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 400px) {
  /* line 1, ../sass/_option.scss */
  #option {
    width: 100%;
  }
}
/* line 11, ../sass/_option.scss */
#option button {
  width: 10rem;
  margin: auto;
  margin-top: 3rem;
}
/* line 17, ../sass/_option.scss */
#option form {
  width: 400px;
  padding: 0rem 1.5rem;
  margin: auto;
}
@media screen and (max-width: 400px) {
  /* line 17, ../sass/_option.scss */
  #option form {
    width: 100%;
  }
}
/* line 26, ../sass/_option.scss */
#option form h3 {
  width: 100%;
  color: #777;
  margin-top: 0rem;
  padding: 1rem 0rem;
  text-align: center;
}
/* line 34, ../sass/_option.scss */
#option form .form-group {
  width: 100%;
}
/* line 37, ../sass/_option.scss */
#option form .form-group select {
  width: 100%;
}

/* line 1, ../sass/_game.scss */
.row {
  margin: 0;
}

/* line 5, ../sass/_game.scss */
#game {
  height: 500px;
  width: 640px;
  margin: 4rem auto;
  position: relative;
  padding: 0;
  border: 1px solid lightgrey;
}
@media screen and (max-width: 640px) {
  /* line 5, ../sass/_game.scss */
  #game {
    width: 100%;
  }
}
/* line 16, ../sass/_game.scss */
#game #map {
  width: 100%;
  height: 500px;
  position: absolute;
}
/* line 21, ../sass/_game.scss */
#game #map .leaflet-control-container {
  position: absolute;
  z-index: 900;
}
/* line 27, ../sass/_game.scss */
#game #shadow {
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
  color: white;
  overflow: hidden;
}
/* line 37, ../sass/_game.scss */
#game #shadow #scoreManche {
  display: none;
  margin-top: 5em;
  margin-bottom: 40rem;
}
/* line 42, ../sass/_game.scss */
#game #shadow #scoreManche div {
  text-align: center;
}
@media screen and (max-width: 640px) {
  /* line 47, ../sass/_game.scss */
  #game #shadow #scoreManche div div button {
    margin: auto;
  }
}
/* line 56, ../sass/_game.scss */
#game #shadow #mancheSuivante {
  display: none;
  margin-bottom: 40rem;
}
/* line 60, ../sass/_game.scss */
#game #shadow #mancheSuivante img {
  width: 200px;
  height: 200px;
  margin: auto;
}
/* line 66, ../sass/_game.scss */
#game #shadow #mancheSuivante div {
  margin-top: 1em;
}
/* line 69, ../sass/_game.scss */
#game #shadow #mancheSuivante div button {
  min-width: 10rem;
  max-width: 20rem;
  margin: auto;
}
/* line 77, ../sass/_game.scss */
#game #shadow #partieDebut {
  display: none;
  padding-top: 12rem;
  margin-bottom: 40rem;
}
/* line 82, ../sass/_game.scss */
#game #shadow #partieDebut div {
  margin: 1em 0em 0em;
  width: 100%;
}
/* line 86, ../sass/_game.scss */
#game #shadow #partieDebut div div {
  padding: 0rem 2rem;
}
/* line 89, ../sass/_game.scss */
#game #shadow #partieDebut div div button {
  height: 5rem;
  min-width: 10rem;
  max-width: 20rem;
  margin: 0px auto;
}
@media screen and (max-width: 640px) {
  /* line 89, ../sass/_game.scss */
  #game #shadow #partieDebut div div button {
    margin: auto;
  }
}
/* line 102, ../sass/_game.scss */
#game #shadow #scoreFinal {
  display: none;
  padding-top: 12rem;
  margin-bottom: 40rem;
}
/* line 107, ../sass/_game.scss */
#game #shadow #scoreFinal div {
  margin: 1em 0em 0em;
  width: 100%;
}
/* line 111, ../sass/_game.scss */
#game #shadow #scoreFinal div div {
  padding: 0rem 2rem;
}
/* line 114, ../sass/_game.scss */
#game #shadow #scoreFinal div div a {
  height: 5rem;
  min-width: 10rem;
  max-width: 15rem !important;
  margin: 0px auto;
}
@media screen and (max-width: 640px) {
  /* line 114, ../sass/_game.scss */
  #game #shadow #scoreFinal div div a {
    margin: auto;
  }
}
/* line 129, ../sass/_game.scss */
#game #time {
  width: 7rem;
  height: 4.5rem;
  line-height: 4.5rem;
  background-color: white;
  color: #4A4A4A;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0px;
  border: 1px solid lightgrey;
  border-top: 0;
  border-right: 0;
  overflow: hidden;
}
/* line 144, ../sass/_game.scss */
#game #time p {
  font-size: 2.5rem;
}

/* line 1, ../sass/_score.scss */
#score {
  height: auto;
  width: 400px;
  margin: 4rem auto;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 400px) {
  /* line 1, ../sass/_score.scss */
  #score {
    width: 100%;
  }
}
/* line 11, ../sass/_score.scss */
#score button {
  width: 12rem;
  margin: 2rem auto;
  font-size: 1.5rem;
}
/* line 17, ../sass/_score.scss */
#score form {
  width: 400px;
  padding: 0rem 1.5rem;
  margin: auto;
}
@media screen and (max-width: 400px) {
  /* line 17, ../sass/_score.scss */
  #score form {
    width: 100%;
  }
}
/* line 26, ../sass/_score.scss */
#score form h3 {
  width: 100%;
  color: #777;
  margin-top: 0rem;
  padding: 1rem 0rem;
  text-align: center;
}
/* line 34, ../sass/_score.scss */
#score form .form-group {
  width: 100%;
}
/* line 37, ../sass/_score.scss */
#score form .form-group select {
  width: 100%;
}
/* line 43, ../sass/_score.scss */
#score .nav {
  cursor: pointer;
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
}
/* line 48, ../sass/_score.scss */
#score .nav li {
  padding: 1.5rem 0rem 0rem;
}
@media screen and (max-width: 765px) {
  /* line 48, ../sass/_score.scss */
  #score .nav li {
    padding: 0rem;
  }
}
/* line 57, ../sass/_score.scss */
#score .nav .active a {
  background-color: #337AB7;
  color: white;
}
/* line 64, ../sass/_score.scss */
#score .table {
  border: solid lightgrey 1px;
}
/* line 67, ../sass/_score.scss */
#score .table th {
  background-color: #F3F3F3;
  border-bottom: solid lightgrey 1px;
  color: #337AB7;
  padding: 1.5rem 1rem;
  font-size: 1.7rem;
  font-weight: normal;
  text-align: center;
}
/* line 76, ../sass/_score.scss */
#score .table th:first-child {
  font-weight: bold;
  border-right: solid lightgrey 1px;
}
/* line 82, ../sass/_score.scss */
#score .table td {
  padding: 1.5rem 1rem;
  overflow: hidden;
  text-align: center;
}
/* line 87, ../sass/_score.scss */
#score .table td:first-child {
  border-right: solid lightgrey 1px;
}

/* line 1, ../sass/_regles.scss */
#regles {
  text-align: center;
  padding-top: 0rem;
  height: auto;
  width: 500px;
  margin: 4rem auto 4rem;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 500px) {
  /* line 1, ../sass/_regles.scss */
  #regles {
    width: 100%;
  }
}
/* line 13, ../sass/_regles.scss */
#regles h3 {
  width: 100%;
  color: #777;
  margin-top: 0rem;
  padding: 1rem 0rem;
}
/* line 20, ../sass/_regles.scss */
#regles h4 {
  color: #337AB7;
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
/* line 28, ../sass/_regles.scss */
#regles p {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-align: justify;
  text-indent: 2rem;
}
/* line 35, ../sass/_regles.scss */
#regles ul {
  margin-bottom: 2rem;
}
/* line 39, ../sass/_regles.scss */
#regles li {
  list-style-type: circle;
  text-align: left;
  margin-bottom: 0.5rem;
}